.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 180px;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  background: #0e7cff;
  box-shadow: 0px 4px 7px 0px rgba(14, 124, 255, 0.5);
}
.navbar a {
  margin-top: 24px;
}
.navbar i {
  color: white;
  font-size: 40px;
}
.navbar__title {
  margin-top: 20px;
  color: white;
  // align-self: flex-start;
  font-weight: 500;
}
table {
  width: 80%;
  margin: 0px auto;
}

.mat-form-field {
  margin-top: 32px;
  font-size: 16px;
  width: 100%;
}
.filterTable {
  width: 80%;
  margin: 0px auto;
}
.exportContainer {
  display: flex;
  justify-content: flex-end;
  padding-right: 32px;
  margin-top: 20px;
  align-items: center;
  width: 100%;
}
.mat-raised-button {
  background: green;
}
