<div
  *ngIf="opctionView === 1"
  class="plusOptionSupport"
  (click)="buttonSupportPlus()"
>
  <ul>
    <li><i class="fas fa-pen"></i><a (click)="updateSupport()">Editar</a></li>
    <li>
      <i class="fas fa-trash-alt"></i><a (click)="deleteSupport()">Eliminar</a>
    </li>
  </ul>
</div>
<div class="container__support">
  <h1 class="container__support--title">Resultados de soportes:</h1>
  <div class="container__ListCard" *ngIf="supports">
    <div class="card" *ngFor="let support of supports; index as i">
      <div class="card__header">
        <button class="card__header--id">{{ i }}</button>
        <button class="card__header--plus" (click)="buttonSupportPlus(support)">
          +
        </button>
      </div>
      <div class="card__body">
        <div class="card__body--content">
          <p><strong>Cliente: </strong></p>
          <p><strong>Fecha:</strong> {{ support.date }}</p>
          <p><strong>Detalle:</strong> {{ support.detail }}</p>
          <p><strong>Prioridad:</strong>{{ support.priority }}</p>
          <p><strong>Programa remoto:</strong>{{ support.remoteProgram }}</p>
          <p><strong>Solucion:</strong> {{ support.solution }}</p>
          <p><strong>Fecha de solucion:</strong> {{ support.solutionDate }}</p>
          <p><strong>Estado:</strong> {{ support.state }}</p>
        </div>
      </div>
    </div>
    <div class="listSupportNull" *ngIf="supports">
      <h2>No hay Soportes</h2>
    </div>
  </div>
</div>
