<div class="container__support">
  <h1 class="container__support--title">Resultados de soportes:</h1>
  <div class="container__ListCard" *ngIf="Supports">
    <div class="card" *ngFor="let soporte of supportClients; index as i">
      <div class="card__header">
        <button class="card__header--id">{{ i }}</button>
        <button class="card__header--plus" (click)="buttonSupportPlus(support)">
          +
        </button>
      </div>
      <div class="card__body">
        <div class="card__body--content">
          <p><strong>Cliente: </strong>{{ soporte.name }}</p>
          <p><strong>Fecha:</strong> {{ soporte.date }}</p>
          <p><strong>Detalle:</strong> {{ soporte.detail }}</p>
          <p><strong>Prioridad:</strong>{{ soporte.priority }}</p>
          <p><strong>Programa remoto:</strong>{{ soporte.remoteProgram }}</p>
          <p><strong>Solucion:</strong> {{ soporte.solution }}</p>
          <p><strong>Fecha de solucion:</strong> {{ soporte.solutionDate }}</p>
          <p><strong>Estado:</strong> {{ soporte.state }}</p>
        </div>
      </div>
    </div>
    <div class="listSupportNull" *ngIf="Supports">
      <h2>No hay Soportes</h2>
    </div>
  </div>
</div>
