<div class="navbar">
  <h1 class="navbar__title">Soportes</h1>
  <a routerLink="/app"><i class="fas fa-long-arrow-alt-left"></i></a>
</div>
<form class="formSupport" (submit)="edit ? updateSupport() : submitSupport()">
  <h2>{{ titleForm }}</h2>
  <input
    type="text"
    name="name"
    readonly
    id="name"
    placeholder="Nombre"
    class="formSupport__Input"
    [(ngModel)]="client.name"
  />
  <input
    type="date"
    name="date"
    id="date"
    placeholder="Fecha"
    class="formSupport__Input"
    [(ngModel)]="support.date"
  />

  <input
    type="text"
    name="detail"
    id="detail"
    placeholder="Detalle"
    class="formSupport__Input"
    [(ngModel)]="support.detail"
  />
  <select
    name="priority"
    id="priority"
    [(ngModel)]="support.priority"
    class="formSupport__select"
  >
    <option value="" disabled selected>Prioridad</option>
    <option value="Alta">Alta</option>
    <option value="Media">Media</option>
    <option value="Baja">Baja</option>
  </select>

  <select
    name="remoteProgram"
    id="remoteProgram"
    [(ngModel)]="support.remoteProgram"
    class="formSupport__select"
  >
    <option value="" disabled selected>Programa Remoto</option>
    <option value="Any Desk">Any Desk</option>
    <option value="Team Viewer">Team Viewer</option>
  </select>

  <input
    type="text"
    name="solution"
    id="solution"
    placeholder="Solucion"
    class="formSupport__Input"
    [(ngModel)]="support.solution"
  />
  <input
    type="date"
    name="solutionDate"
    id="solutionDate"
    placeholder="Fecha de Solucion"
    class="formSupport__Input"
    [(ngModel)]="support.solutionDate"
  />
  <select
    name="state"
    id="state"
    [(ngModel)]="support.state"
    class="formSupport__select"
  >
    <option value="" disabled selected> Estado</option>
    <option value="Abierto">Abierto</option>
    <option value="Cerrado">Cerrado</option>
  </select>

  <button class="formSupport__Button">{{ titleForm }}</button>
</form>
