<div class="navbar">
  <h1 class="navbar__title">Clientes</h1>
  <a routerLink="/app"><i class="fas fa-long-arrow-alt-left"></i></a>
</div>
<form class="formClient" (submit)="edit ? updateClient() : submitClient()">
  <h2>{{ titleForm }}</h2>
  <input
    type="text"
    name="name"
    id="name"
    placeholder="Nombre"
    required
    class="formClient__Input"
    [(ngModel)]="client.name"
  />
  <input
    type="text"
    name="phone"
    id="phone"
    placeholder="Telefono"
    required
    class="formClient__Input"
    [(ngModel)]="client.phone"
  />
  <input
    type="text"
    name="company"
    id="company"
    placeholder="Empresa"
    required
    class="formClient__Input"
    [(ngModel)]="client.company"
  />
  <button class="formClient__Button">{{ titleForm }}</button>
</form>
