<div class="login">
  <div class="login__header">
    <div class="login__header--img">
      <img src="../../../assets/images/support.png" />
    </div>
    <h1 class="login__header--title">Soporte</h1>
  </div>
  <!-- Login Formulario -->
  <!-- ///////////////////////////////////////////////////////// -->
  <form class="login__form" (submit)="submitLogin()">
    <h2 class="login__form--title">Login</h2>
    <input
      type="text"
      name="email"
      id="email"
      placeholder="Usuario"
      class="login__form--input"
      [(ngModel)]="user.username"
    />
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Contraseña"
      class="login__form--input"
      [(ngModel)]="user.password"
    />
    <a href="#" class="login__form--cont">¿Olvidaste tu contraseña?</a>
    <button class="login__form--button">Iniciar</button>
  </form>
</div>
